
.main-body {
    max-width: 1300px;
    height: auto;

}


#main-form textarea {
    width:100%;

}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}